{% load i18n %}

{% include "MHLOrganization/includes/organization_tabs.html" %}
{%include 'includes/jquery.validate.html'%}

<div class="org-tab-content">
	<div id="org_member_create_staff" class="ui-corner-all">
		<h1>{% trans "Create Staff Account" %}</h1>
		<form id="newStaffForm" enctype="multipart/form-data" action="/Organization/Member/StaffCreate/" method="POST">
			{{user_form.as_ul}}
			{{staff_form.as_ul}}
			<!--
			<li><label for="id_current_practice">{% trans "Practice" %}:</label> 
				<div id="id_current_practice" name="current_practice">{{current_practice}}</div>
			</li>
			-->
			<h4>{% trans "This account will received one email after you create it." %}</h4>
			<div class='buttons'>
				<input type="submit" value='{% trans "Create" %}' class="org_inf_positive_btn"/>
				<input id="cancel" type='button' value='{% trans "Cancel" %}' class="org_inf_btn"/>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$(function(){
	setRequiredFields();
	$('#newStaffForm').validate({
		rules:{
			username:{required:true,isUserName:true},
			first_name:{required:true},
			last_name:{required:true},
			email:{required:true,email:true},
			gender:{required:true},
			mobile_phone:{
				//required:true,
				isPhone:true},
			current_practice:{required:true},
			pager:{required:false,isPhone:true}
		},
		messages:{
			username:{
				required:'{% trans "User name field is required." %}',
				isUserName:'{% trans "User name may contain only letters, numbers and @/./+/-/_ characters." %}'
			},
			first_name:'{% trans "First name field is required." %}',
			last_name:'{% trans "Last name field is required." %}',
			email:{
				required:'{% trans "Email field is required." %}',
				email:'{% trans "Email field is not a valid email address." %}'
			},
			gender:'{% trans "Gender field is required." %}',
			mobile_phone:{
				isPhone:'{% trans "Mobile phone is not a valid phone number." %}'
			},
			current_practice:'{% trans "Current practice field is required." %}',
			pager:{
				isPhone:'{% trans "Pager is not a valid pager number." %}'
			}
		},
		submitHandler:function(form){
			ajaxCreateNew(form);
		}
	});
	$("#cancel").click(function(){
		showMemberView();
	});
});

function setRequiredFields() {
	$('#id_username').after('<span class="redstar">*</span>');
	$('#id_first_name').after('<span class="redstar">*</span>');
	$('#id_last_name').after('<span class="redstar">*</span>');
	$('#id_gender').after('<span class="redstar">*</span>');
	$('#id_email').after('<span class="redstar">*</span>');
	//$('#id_mobile_phone').after('<span class="redstar">*</span>');
}

function ajaxCreateNew(form){
	var username = $('#id_username').val();
	var email = $('#id_email').val();
	var mobile = $('#id_mobile_phone').val();
	var type = $('#id_staff_type').val();
	$.comAjax({
		url:'/ValidateEmailAndPhone/',
		type:'POST',
		data:{
			username:username,
			email:email,
			phone:mobile
		},
		success:function(data, txtStatus){
			if(txtStatus=='success'){
				var d = JSON.parse(data);
				if(!isEmptyObject(d)){
					if(d['err1']){
						$('#id_username').addClass('error');
						$('#id_username').after('<label for="id_username" generated="true" class="error">{% trans "This user name has been registered. Please choose another user name or invite him to your practice." %}</label>');	
					}
					if(d['err2']){
						$('#id_email').addClass('error');
						$('#id_email').after('<label for="id_email" generated="true" class="error">{% trans "This email has been registered. Please choose another email or invite him to your practice." %}</label>');
					}
					if(d['err3']){
						$('#id_mobile_phone').addClass('error');
						$('#id_mobile_phone').after('<label for="id_mobile_phone" generated="true" class="error">{% trans "This mobile phone has been registered. Please choose another mobile phone or invite him to your practice." %}</label>');
					}
				}else{
					//check the invitation
					$.comAjax({
						url:'/Organization/Member/AJAX/valideInvitation/',
						type:'POST',
						data:{
							email:email,
							type:type
						},
						success:function(data, txtStatus){
							var d = JSON.parse(data);
							if(d!='err'){
								showSimpleDialog({
									title: '{% trans "Create New Staff" %}',
									content: '{% trans "This email is already existed in Invitations. If you create account with this email, invitation to" %} '+email+' {% trans "will be rescinded. Are you sure you want to continue?" %}',
									height: 130,
									dc_buttons: {
										'{% trans "Cancel" %}': function() {
											$( this ).dialog( "close" );
										},
										'{% trans "OK" %}': {
											'click': function() {
												$( this ).dialog( "close" );
												$.comAjax({
													url:'/Organization/Member/AJAX/cancelExistInvitation/',
													type:'POST',
													data:{
														email:email,
														type:type
													},
													success:function(data,txtStatus){
														var d = JSON.parse(data);
														if(d=='ok'){
															doCreateStaff();
														}
													}
												});
											},
											'text': '{% trans "OK" %}',
											'class': 'positive-btn'
										}
									}
								});

							}else{
								//$.ui.wait.start();
								//form.submit();
								doCreateStaff();
							}
						}
					});
				}
			}else{
				alert('{% trans "Create staff" %} "'+username+'"{% trans "failed" %}.');
			}
		},
		error:function(data, txtStatus){
			alert('{% trans "Create staff" %} "'+username+'" {% trans "failed" %}.');
		}
	});
}

function doCreateStaff(){
	$.comAjax({
		url: "/Organization/Member/StaffCreate/",
		type:'POST',
		data: $("#newStaffForm").serialize(),
		success:function(data, status){
			//$('#org_member_create_staff').prepend('<div class="success">{% trans "Create successfully. We have sent an email to this account. He/she need activate account by click the link in email." %} </div><div class="clear"></div>');
			//$('.success').fadeOut(8000);
			showMemberView();
			//document.forms[0].reset();
		}
	});
}
</script>
