{% load i18n %}
<script>
$(function(){
	$('#add-new-provider').unbind('click').click(function(){
		inviteProviderStep(InvProvConf.step1);
	});
	
	if(location.search.split('invitationType=')[1]=='1'){
		inviteProviderStep(InvProvConf.step1);
	}
});

var InvProvConf = {
	step1:{
		odialog: null,
		url: '/Organization/Member/InviteProvider/',
		type: 'GET',
		data: {step:1},
		title: MESSAGE.STAFFHOME_INVITE_DOCTOR_STEP1_TEXT.sprintf('{{ selected_organization_type }}'),
		openfunc: function(data, options){
			var tag = options.odialog;
			tag.find('.step1Cancel').unbind('click').click(function(){
				tag.dialog('close');
			});

			tag.find('.step1Next').unbind('click').click(function(){
				searchProvider(tag);
			});

			tag.bind('keypress', function(event){
				if(event.which == 13){
					tag.unbind('keypress');
					searchProvider(tag);
				}
			})
		}
	},
	step2:{
		odialog: null,
		url: '/Organization/Member/InviteProvider/',
		type: 'POST',
		data: {step: 2},
		title: MESSAGE.STAFFHOME_INVITE_DOCTOR_STEP2_TEXT.sprintf('{{ selected_organization_type }}'),
		openfunc: function(data, options){
			var tag = options.odialog;
			tag.unbind('keypress').bind('keypress', function(event){
				if(event.which == 13){
					return false;
				}
			})

			tag.find('.step1Cancel').unbind('click').click(function(){
				var step1_options = InvProvConf.step1;
				step1_options.odialog = options.odialog; 
				inviteProviderStep(step1_options);
			});

			if(data.step_type == "email"){
				tag.find('.step1Next').unbind('click').click(function(){
					var email = $.trim(tag.find('#inviteNewEmail').val());
					var msg = tag.find('#mail-body').val();
					var type =tag.find('#id_provider_types').val();
					emailFormat = /^[A-Za-z0-9+]+[A-Za-z0-9\.\_\-+]*@([A-Za-z0-9\-]+\.)+[A-Za-z0-9]+$/;
	
					tag.find('span.err-msg').remove();
					if(email.match(emailFormat)){
						var step_options = InvProvConf.step3;
						step_options.odialog = options.odialog; 
						step_options.data.email = email;
						step_options.data.msg  = msg;
						step_options.data.type = type;
						step_options.data.step_type = data.step_type;
						inviteProviderStep(step_options);
					}else{
						$('#inviteNewEmail').after('<span class="err-msg">'+MESSAGE.STAFFHOME_INVALID_EMAIL_MSG+'</span>');
					}
				});
			} else {
				options.count = data.count
				add_paginate(options);

				tag.find('.invite-provider').hover(function(){
					if(!$(this).hasClass('currentItem')){
						$(this).addClass('invite-provider-hover');
					}
				},function(){
					$(this).removeClass('invite-provider-hover');
				});

				tag.find('.invite-provider').unbind('click').click(function(){
					$('.invite-provider').removeClass('currentItem invite-provider-hover');
					$(this).addClass('currentItem');
				}).dblclick(function(){
					var id = tag.find('.currentItem').attr('prov_id');
					var step_options = InvProvConf.step3;
					step_options.odialog = options.odialog; 
					step_options.data.prov_id = id
					step_options.data.step_type = data.step_type;
					step_options.data.userType = 1;
					inviteProviderStep(step_options);
				});
	
				tag.find('.buttons .step1Next').unbind('click').click(function(){
					var id = tag.find('.currentItem').attr('prov_id');
					var step_options = InvProvConf.step3;
					step_options.odialog = options.odialog; 
					step_options.data.prov_id = id
					step_options.data.step_type = data.step_type;
					step_options.data.userType = 1;
					inviteProviderStep(step_options);
				});

			}
		}
	},
	step3:{
		odialog: null,
		url: '/Organization/Member/InviteProvider/',
		type: 'POST',
		data: {step:3},
		title: MESSAGE.STAFFHOME_INVITE_DOCTOR_STEP3_TEXT.sprintf('{{ selected_organization_type }}'),
		openfunc: function(data, options){

			var refFunc = $('#add-new-provider').attr('refresh_function');
			if(refFunc != undefined){
				window[refFunc]();
			}
		
			var tag = options.odialog;
			tag.find('#inviteBackToStep1').unbind('click').click(function(){
				var step_options = InvProvConf.step1;
				step_options.odialog = options.odialog; 
				inviteProviderStep(step_options);
			});
			tag.find('#inviteBackToMember').unbind('click').click(function(){
				tag.dialog("close");
			});
			tag.find('.step1Next').unbind('click').click(function(){
				tag.dialog("close");
			});
		}
	},
}

function searchProvider(odialog){
	var email = $.trim($('#inviteEmail').val());
	var fname = $.trim($('#inviteFullname').val());
	var uname = $.trim($('#inviteUsername').val());
	if(email!='' || fname!='' || uname!=''){
		var per = window.getPersonalName(fname);
		var options = InvProvConf.step2;
		var data = {
			email: email,
			fullname: fname,
			username: uname,
			firstName: per['firstName'],
			lastName: per['lastName:'],
			index: 0,
			step: 2
		};
		options.odialog = odialog;
		options.data =  data;
		inviteProviderStep(options);
	}else{
		odialog.find('.err-msg').text(MESSAGE.STAFFHOME_SEARCH_PROVIDER_TEXT);
	}
}

function inviteProviderStep(options){
	$.comAjax({
		url: options.url,
		type: options.type,
		data: options.data,
		success:function(data, txtStatus){
			var tag = $("<div></div>");
			if (options.odialog != null){
				options.odialog.dialog('close');
			}
			options.odialog = tag;
			tag.html(data.html).dialog({
				draggable:false,
				resizable:false,
				modal: true,
				width:550, 
				title: options.title,
				open: options.openfunc(data, options),
				close:function(){
					tag.dialog("destroy").remove();
				}
			}).dialog('open');
		}
	});
}

function add_paginate(options){
	function paginateStyle($obj){
		$obj.find(".pagination .prev").html('');
		$obj.find(".pagination .prev").addClass('prevIcon');
		$obj.find(".pagination .next").html('');
		$obj.find(".pagination .next").addClass('nextIcon');
		$obj.find('.pagination a').attr({
			'href':'javascript:void(0)'
		});
	}
	var $obj = $(options.odialog).find('#findProvidersPage');
	$obj.pagination(options.count , {
		items_per_page:4,
		current_page: options.data.index,
		num_edge_entries: 3,
		num_display_entries: 3,
		callback:function(index,jq){
			options.data.index = index;
			inviteProviderStep(options);
			paginateStyle($obj);
		}
	});
	paginateStyle($obj);
}

</script>