{% extends "public_base.html" %}
{% load i18n %}
{% load url from future %}

{% block style %}
<style>
    body { background:#EFF3F8;}
    #public-base { width:953px; margin:0 auto;}
    #public-base .content { border:1px solid #A6C9E2; border-radius:5px; padding:0 10px; background:#fff;}
    #public-base .content p,#public-base .content li { font-weight:normal; font-family:Arial; font-size:14px;}
    #footer { width:953px; margin:10px auto; font-size:11px; padding-left:30px; font-family:Verdana;}
    #footer a { color:#143888;}
</style>    
{% endblock %}
{% block extrastyle %}
<style>
    .errorlist {color:red;}
    strong {font-weight: bold; color:red;}
    .forgotpassword_table {width: 60%; position: relative;} 
    .forgotpassword_table input {width: 90%;} 
    .forgotpassword_table .td1 {width: 40%;} 
    .forgotpassword_table .td2 {width: 60%;} 
</style>
{% endblock %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
    <h3>
    {% blocktrans %}
    To reset your password please enter <strong>two</strong> of the three fields below
    <br/>
    and an email will be sent to the address we have on file for this account. 
    <br/>
    {% endblocktrans %}
    </h3>
    <form class="forgotpassword" method="post" action=".">{% csrf_token %} 
        <div style="padding:3px;">{{ form.non_field_errors.as_div }}</div>
        <table class="forgotpassword_table" border="0">
            {% for field in form %}
                <tr>
                    <td colspan="2">{{ field.label }}:</td>
                </tr>        
                <tr>
                    <td class="td1">{{ field }}</td>
                    <td class="td2">{{ field.errors.as_div }}</td>
                </tr>        
            {% endfor %}
        </table>
        <p><input type="submit" value="{% trans "Send recovery email" %}"></p>
    </form>

{% endblock %}

