{% extends "base_new.html" %}
{% load i18n %}

{% block customCSS %}
th {text-align:left;}
{% endblock %}

{% block customJS %}
    <script type="text/javascript">  
        $(document).ready(function(){            
            $("tr:odd").removeClass("odd");

        });
    </script>


{% endblock %}


{% block content %}
<!--<div style="width:800px; background-color:white;padding:15px;margin-left:20px;border:1px solid lightgray;" class="ui-corner-all">-->
<div id="psdChange" style="background-color:white;margin:20px 0;border:1px solid lightgray;padding:30px; text-align:left;" class="ui-corner-all">
<h1>{% trans "Change Password" %}</h1>

<form action="/Profile/ChangePassword/" method="POST">
<table>
{{ form.as_table }}
</table>
<br/>
<input type="submit" name="submit" value="{% trans "Submit" %}" />
</form>
</div>
{% endblock %}

