{% extends "base_new.html" %}
{% load i18n %}

{% block content %}
<div id="updateSecurityQuestions" class="ui-corner-all">
<h2>{% trans "Update security questions" %}</h2>
	<p>{% trans "Please enter your password." %}</p>
	<p class="errorInfo">{{error}}</p>
	<form action='/Profile/UpdateSecurityQuestions/' method='POST'>
		{{ form.as_p}}
		<input type='submit' value='{% trans "Submit" %}' />
	</form>
	<p><br /><a href="/Profile/">{% trans "Back to your profile" %}</a></p>
</div>
<script>
	$(function(){
		$('#id_password').val('');
	})
</script>
{% endblock %}
