{% load i18n %}
<style>
	#invitation_content{
		width:95%;
		margin-top:15px;
		margin-left:8px;
		font-family:Arial;
		font-size:14px;
		line-height: 25px;
	}
	img{
		max-width:153px;
		max-height:64px;
	}
</style>
<table id='invitation_content'>
	<tr>
		<td>
			<table>
				<tr>
					<td>{{from_practicelocation_name}}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			{{ from_user }}{%trans " invites you to join his call group of " %}
			{{call_group_team}}.
		</td>
	</tr>
	<tr>
		<td>
			{% trans "Do you want to join?" %}
		</td>
	</tr>
</table>