{% extends "base_new.html" %}
{% load i18n %}

{% block customImports %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/dcAdminStyle.css"/>
{% endblock %}

{% block title %}{% trans "Administration: User Password Reset" %}{% endblock %}

{% block customCSS %}
<style type='text/css'>
.warning {
    color: red;
}

.stress {
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
<div id="dc_nav"><a href="/dcAdmin/">DCAdmin</a></div>
<div id='dcAdmin_home' class="ui-corner-all">

<h1>{% trans "Password Reset Complete For" %}: {{user.first_name}} {{user.last_name}}</h1>

<div class='resetComplete'>{% trans "The user's password has been successfully reset." %}</div>

</div>
{% endblock %}
