{% extends "base_new.html" %}
{% load i18n %}

{% block customImports %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/dcAdminStyle.css"/>
{% endblock %}

{% block title %}{% trans "Administration: User Password Reset" %}{% endblock %}
{% block content %}
<div id="dc_nav"><a href="/dcAdmin/">DCAdmin</a></div>
<div id='dcAdmin_home' class="ui-corner-all">
<h1>{% trans "Password Reset" %}: {{user.first_name}} {{user.last_name}}</h1>
    <h3>{% trans "You're about to reset this user's password. Please double-check to ensure that you're operating on the correct user." %}</h3>
    <h3 class="warning">{% trans "Resetting a user's password will deny them access to all" %} 
        <span class="stress">{% trans "old" %}</span> 
        {% trans "secure content until someone holding the Administrator key comes in and provides access to all of that content." %}</h3>
<table class='dcAdminTable' cellspacing='0' cellpadding='0'>
    <tr><th width='100' align='left'>{% trans "Name" %}: </th><td>{{user.first_name}} {{user.last_name}}</td></tr>
    <tr><th align='left'>{% trans "Username" %}: </th><td>{{user.username}}</td></tr>
    <tr><th align='left'>{% trans "E-Mail" %}: </th><td>{{user.email}}</td></tr>
</table>

<h3>{% trans "Please enter the user's new password" %}:</h3>
<form action="." method="POST">
<table class='dcAdminTable' cellspacing='0' cellpadding='0'>
    <tr><th width='100' align='left'>{% trans "Password" %}: </th><td>{{form.password1}}</td><td>{{form.password1.errors}}</td></tr>
    <tr><th align='left'>{% trans "Verify Password" %}: </th><td>{{form.password2}}</td><td>{{form.password2.errors}}</td></tr>
</table>
<input type="submit" value='{% trans "Submit" %}' class='passwordResetSubmit' />
</form>
</div>
{% endblock %}
