{% extends "base_new.html" %}
{% load url from future %}

{% load i18n %}
{% block title %}{% trans "Administration: User Password Reset" %}{% endblock %}
{% block customImports %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/dcAdminStyle.css"/>
{% endblock %}

{% block content %}
<div id="dc_nav"><a href="/dcAdmin/">DCAdmin</a></div>
<div id='dcAdmin_home' class="ui-corner-all">
<h1>{% trans "Password Reset: Found Users" %}</h1>
    <h3><a href="">{% trans "Search Again" %}</a></h3>
{% for found_user in users %}
<table class='dcAdminTable' cellspacing='0' cellpadding='0'>
    <tr>
        <th align='left' width='40'>{% trans "Name" %}: </th>
        <td align='left'>
            <a href="{%url 'MHLogin.Administration.views.reset_user_password' user_pk=found_user.pk %}">
                {{found_user.first_name}} {{found_user.last_name}}
            </a>
        </td>
    </tr>
    <tr>
        <th align='left' width='40'>{% trans "Username" %}: </th><td>{{found_user.username}}</td>
    </tr>
    <tr>
        <th align='left' width='40'>{% trans "E-Mail" %}: </th><td>{{found_user.email}}</td>
    </tr>
</table>
{% endfor %}
</div>
{% endblock %}
