{% extends "base_new.html" %}
{% load i18n %}

{% block title %}{% trans "Administration: User Password Reset" %}{% endblock %}
{% block customImports %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/dcAdminStyle.css"/>
{% endblock %}

{% block content %}
<div id="dc_nav"><a href="/dcAdmin/">DCAdmin</a></div>
<div id='dcAdmin_home' class="ui-corner-all">
<h1>{% trans "Password Reset: User Search" %}
</h1>
<h3>{% trans "First, we need to specifically identify which user needs their password reset." %}
</h3>
<table id="searchForms" class='dcAdminTable' cellspacing='0' cellpadding='0'>
<tr>
    <td>
        <form action='.' method='POST'>
            <table class='searchForm'>
                <tr><th>{% trans "Search by Username" %}
                </th></tr>
                <tr><td>{% trans "Username" %}: {{name_form.name}}<br />
                    <input type="hidden" name="search_by" value="username">
                    <input type='submit' value='{% trans "Submit" %}' /></td></tr>
            </table>
        </form>
    </td>
    
    <td>
        <form action='.' method='POST'>
            <table class='searchForm'>
                <tr><th>{% trans "Search by E-Mail Address" %}
                </th></tr>
                <tr><td>{% trans "Address" %}: {{email_form.email}}<br />
                    <input type="hidden" name="search_by" value="email">
                    <input type='submit' value='{% trans "Submit" %}' /></td></tr>
            </table>
        </form>
    </td>
</tr>
<tr>
    <td>
        <form action='.' method='POST'>
            <table class='searchForm'>
                <tr><th>{% trans "Search by First Name" %}</th></tr>
                <tr><td>{% trans "First Name" %}: {{name_form.name}}<br />
                    <input type="hidden" name="search_by" value="firstname">
                    <input type='submit' value='{% trans "Submit" %}' /></td></tr>
            </table>
        </form>
    </td>
    
    <td>
        <form action='.' method='POST'>
            <table class='searchForm'>
                <tr><th>{% trans "Search by Last Name" %}</th></tr>
                <tr><td>{% trans "Last Name" %}: {{name_form.name}}<br />
                    <input type="hidden" name="search_by" value="lastname">
                    <input type='submit' value='{% trans "Submit" %}' /></td></tr>
            </table>
        </form>
    </td>
</tr>
</table>
</div>
{% endblock %}
