{% load i18n %}

{% include "MHLOrganization/InformationSub/org_sub_js.html" %}
{% include "MHLOrganization/includes/organization_tabs.html" %}

<div class="org-tab-content">
	<div id="managerHoliday" class="ui-corner-all">
		<div>
			<input id="ivrBack" type="button" value="Back">
		</div>
		<h3>{% trans "Office Closed For The Following Holidays" %}</h3>
		<form action="." id="removeHolidayForm" method="post">
		    <table class='tableProfile' cellspacing='0' cellpadding='0' width='70%'>
				<tr>
					<th align='left' width='50px'>{% trans "Remove" %}</th>
					<th align='left'>{% trans "Holiday" %}</th>
					<th align='left'>{% trans "Date" %}</th>
					<th align='left'>{% trans "Edit" %}</th>
				</tr>
				{% for holidays in holidays.all %}
				<tr>
					<td>
						<input type="checkbox" name="remove" value="{{ holidays.id }}">
					</td>
			        <td>
			        	{% if holidays.name %}
			        		{{ holidays.name}}
			        		{%else%}
			        		&nbsp;
			        	{% endif %}
			        </td>
					<td>{{ holidays.designated_day|date:"SHORT_DATE_FORMAT" }}</td>
					<td><div class='followupBtn buttonedit' onclick="holidayEdit({{ holidays.id }})"></div></td>
				</tr>
				{% endfor %}
			</table>
		<input id="holidayRemove" type="button" value="{% trans 'Remove Selected' %}">
		<input id="holidayAdd" type="button" value="{% trans 'Add Holiday' %}" />
		</form>
	</div>
</div>