{# extends "base_short_new.html" #}
{% extends "base_new.html" %}
{% load i18n %}

{% block content %}
<div id='faqs' class="ui-corner-all">	
	<h1>{% trans "FAQs for iPhone Users" %}</h1>
		<a href="#21">{% trans "How do I invite colleagues to DoctorCom?" %}</a><br />
		<a href="#22">{% trans "How do I edit existing invitations to join DoctorCom?" %}</a><br />
		<a href="#23">{% trans "How do I choose whether calls go to my mobile phone, or directly to my DoctorCom voicemail?" %}</a><br />
		<a href="#24">{% trans "How do I access my voice messages using the iPhone app?" %}</a><br />
		<a href="#25">{% trans "How do I associate my mobile number with my DoctorCom number?" %}</a><br />
		<a href="#26">{% trans "How do I edit my Practice Location?" %}</a><br />
		<a href="#27">{% trans "How do I protect my privacy using the DoctorCom app?" %}</a><br />
		<a href="#28">{% trans "How do I get a message to show up in the “Follow up Task List?”" %}</a><br />
		<a href="#29">{% trans "How do I delete a Follow-up Task?" %}</a><br />
		<a href="#30">{% trans "How do I use my DoctorCom app to contact other DoctorCom members located at my current practice?" %}</a><br />
		<a href="#31">{% trans "Why don’t I see a Staff member/Provider who is part of my current practice?" %}</a><br />
		<a href="#32">{% trans "How do I search for other Providers on DoctorCom?" %}</a><br />
	<p>
		<a name='21'>
			<b>{% trans 'How do I invite colleagues to DoctorCom?' %}</b><br />
			{% trans 'In the menu at the bottom of the app screen, click the “Invitation” button, with the plus sign icon, on the far left. Then, press the plus sign icon in the upper right hand corner of the “Invitation” screen. Enter the email address of the colleague you would like to invite in the “Recipient” text box. We recommend entering text in the “Note” textbox denoting who you are and a short message. Then, press the “Send” button in the upper right hand corner of the screen.<br />Please note: The invitation will not be sent from your email address.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='22'>
			<b>{% trans 'How do I edit existing invitations to join DoctorCom?' %}</b><br />
			{% trans 'Navigate to the invitations page of your DoctorCom app by clicking on the “Invitation” button, with the plus sign icon, located in the menu bar at the bottom of the DoctorCom app screen. Your outstanding invitations will be listed on this screen with the name of the recipient, the date the invitation was sent, and their registration code. The rotating arrows icon located to the right of the recipient information will resend the invitation. The trash bin icon will delete the invitation.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='23'>
			<b>{% trans 'How do I choose whether calls go to my mobile phone, or directly to my DoctorCom voicemail?' %}</b><br />
			{% trans 'Press the “Setting” button, with the gear icon, located in the menu on the bottom of the DoctorCom app screen. Under “Call Forwarding Setting,” click on either “Voicemail,” for the call to go directly to your DoctorCom voicemail, or “Mobile,” for the call to go to your mobile phone.<br />Please note: Even when forwarding calls to your mobile phone, if you do not answer, the message will be left on your DoctorCom voicemail.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='24'>
			<b>{% trans 'How do I access my voice messages using the iPhone app?' %}</b><br />
			{% trans 'There are two possible routes for accessing your voice messages. You can click on “message,” with the envelope icon, located in the menu at the bottom of the DoctorCom app screen. From there, you will be able to click on the respective message, which will bring you to the message content and informational screen. Click on attachments to play the voice message.<br />You can also use the phone associated with your DoctorCom number to call your DoctorCom number. Follow the prompts to listen to your DoctorCom voice messages.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='25'>
			<b>{% trans 'How do I associate my mobile number with my DoctorCom number?' %}</b><br />
			{% trans 'Click the “Setting” button, located in the menu bar at the bottom of your DoctorCom app screen. Click on the “Phone number configuration” bar, under “Other Settings.” Here, you will be able to edit the mobile number associated with your DoctorCom number.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='26'>
			<b>{% trans 'How do I edit my Practice Location?' %}</b><br />
			{% trans 'Press the “Setting” button, with the gear icon, located in the menu on the bottom of the DoctorCom app screen. Press the content bar under “Practice Setting.” If you are associated with multiple practices, a drop down menu will appear, where you will be able to select your current practice location.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='27'>
			<b>{% trans 'How do I protect my privacy using the DoctorCom app?' %}</b><br />
			{% trans 'When calling numbers outside of the DoctorCom network, use the bar located on the message page of the DoctorCom app. Enter the number you wish to call in the bar and press the green phone icon to connect the call. The recipient will see your DoctorCom number as the Caller-ID.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='28'>
			<b>{% trans 'How do I get a message to show up in the “Follow up Task List?”' %}</b><br />
			{% trans 'Click on the message. Once on the message information and contact screen, press the “FollowUp” button located in the upper right hand portion of the screen (to the left of the trash bin). On the “Follow-up Task” screen, you will be able to mark the priority of the task, as well as enter a new task description and a note. Press, “Save.”' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='29'>
			<b>{% trans 'How do I delete a Follow-up Task?' %}</b><br />
			{% trans 'Click on the “Task” button, with the calendar icon, located on the menu bar at the bottom of the DoctorCom app screen. Click the trash bin icon located in the upper right hand corner of the screen to delete a follow-up task. Click, “Done.” To cancel a delete after you have pressed the trash bin icon (but before you have clicked “Done”) click the red circle icon that has appeared to the left of the follow-up task, so that the white line through the red circle is perpendicular. Then, click “Done.”' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='30'>
			<b>{% trans 'How do I use my DoctorCom app to contact other DoctorCom members located at my current practice?' %}</b><br />
			{% trans 'Click the “User” button, with the person icon, located on the menu bar at the bottom of the DoctorCom app screen. Once on the “User” screen, you will see a list of providers who are part of your practice.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='31'>
			<b>{% trans 'Why don’t I see a Staff member/Provider who is part of my current practice?' %}</b><br />
			{% trans 'Make sure that you are on the correct user list. To switch user lists, click the “Switch User List” button, located in the upper right hand corner of the “Practice Provider” screen. There, you will be able to select which user list you would like to view.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
	
	<p>
		<a name='32'>
			<b>{% trans 'How do I search for other Providers on DoctorCom?' %}</b><br />
			{% trans 'Click the “User” button, located on the menu bar at the bottom of the DoctorCom app screen. Once on the “User” screen, enter the name of the provider who you would like to find. Press the “Search” button located on your keyboard. Click on the respective provider.<br />Please note: If the provider you are searching for does not appear, it is possible that they do not yet have a DoctorCom account. Please use the “Invitation” function to add them to the DoctorCom network for efficient, HIPAA-compliant communication.' %}
		</a>
		<br />
		<a href="#">{% trans "Back to top" %}</a>
	</p>
</div>
{% endblock %}

