{% extends "public_base.html" %}

{% block title %}DoctorCom Terms of Service{% endblock %}

{% block content %}
        {% if show_accept %}
        <p><i>Please read and accept these terms of service. The accept link is at the bottom of the page. Acceptance of these terms is mandatory for use of this service.</i></p>
        {% endif %}

        <h1>Terms of Use</h1>
        {% if meta %}
           <h2>{{meta}}</h2>
        {% endif %}
        <h3>Acceptance of Terms Through Use</h3>
        
        <p>
            By using DoctorCom, Inc.’s (the “Company”) website, mdcom.com (the "Site"), which includes
            all services available through the Site, you agree to be bound by all terms, conditions
            and notices contained or referenced herein (the "Terms of Use").  We may change the Terms
            of Use at any time by posting revisions to the Site, and your continued use of the Site
            indicates your agreement to the revised terms.  Accordingly, we urge you to review the Terms
            of Use, and if you do not agree to the terms of this or any revised policy, please exit the
            Site immediately. Please consult our <a href="/privacy/">Privacy Policy</a> for a description of our
            privacy practices and policies.
        </p>

        <h3>Permitted Use</h3>
        
        <p>
            You agree that you are only authorized to visit, view and use the Site for your own professional
            use, and that you shall not duplicate, download, publish, modify or otherwise distribute the
            material on the Site for any purpose other than for professional use, unless otherwise specifically
            authorized by us to do so.  You also agree not to deep-link to the Site for any purpose, unless
            specifically authorized by us to do so. The content and software on this Site is the property of
            the Company and is protected by U.S. and international copyright laws.
        </p>
        
        <h3>Limited License</h3>
        
        <p>
            You are granted a limited, non-exclusive, revocable and non-transferable license to utilize and
            access the Site pursuant to the requirements and restrictions of these Terms of Use and  End User
            <a href="/eula/">License Agreement</a>.  The Company may change, suspend, or discontinue any aspect of
            the Site at any time.  The Company may also, without notice or liability, impose limits on certain
            features and services or restrict your access to all or portions of the Site.  Except as expressly
            set forth herein, you shall have no rights to the proprietary software and related documentation,
            if any, provided to you in order to access the Site.  Except as provided in these Terms of Use,
            you shall have no right to directly or indirectly, own, use, loan, sell, rent, lease, license,
            sublicense, assign, copy, translate, modify, adapt, improve, or create any new or derivative
            works from, or display, distribute, perform, or in any way exploit the Site, or any of its
            contents (including software) in whole or in part.
        </p>
         
        
        <h3>Accuracy and Integrity of Information</h3>
        <p>
            Although the Company attempts to ensure the integrity and accurateness of the Site, it makes no
            representations, warranties or guarantees whatsoever as to the correctness or accuracy of the
            Site and Content thereon. It is possible that the Site could include typographical errors,
            inaccuracies or other errors, and that unauthorized additions, deletions and alterations 
            could be made to the Site by third parties. In the event that an inaccuracy arises, please inform
            the Company so that it can be corrected. Information contained on the Site may be changed or updated
            without notice. Additionally, the Company shall have no responsibility or liability for information
            or Content posted to the Site from any non-Company affiliated third party.
        </p>
        <h3>Online Payments</h3>
        
        <p>
            You can purchase products and/or services on the Site. We accept credit cards issued by U.S. banks,
            debit cards and ACH transfers. If a credit card account is being used for a transaction, the Company
            may obtain preapproval for an amount up to the amount of the payment. If you enroll to make recurring
            payments automatically, all charges and fees will be billed to the credit card you designate during the
            setup process. If you want to designate a different credit card or if there is a change in your credit
            card, you must change your information online. This may temporarily delay your ability to make online
            payments while we verify your new payment information. 
        </p>
        
        <p>
            You represent and warrant that if you are making online payments that (i) any credit card information
            you supply is true, correct and complete, (ii) charges incurred by you will be honored by your credit
            card company, (iii) you will pay the charges incurred by you in the amounts posted, including any 
            applicable taxes, and (iv) you are the person in whose name the card was issued and you are authorized
            to make a purchase or other transaction with the relevant credit card and credit card information. 
        </p>
        
        <p>
            All fees and other amounts paid to Company are non-cancellable and non-refundable.
        </p>
        
        <h3>Medical Advice Disclaimer</h3>
        <p>
            The content of the Site, including without limitation, text, copy, audio, video, photographs,
            illustrations, graphics and other visuals, is for informational purposes only and does not
            constitute professional medical advice, diagnosis, treatment or recommendations of any kind.
            You should always seek the advice of your qualified heath care professionals with any questions
            or concerns you may have regarding your individual needs and any medical conditions. The Company 
            does not recommend or endorse any specific tests, doctors, products, procedures, opinions
            or other information that may be included on the Site. Reliance on any information appearing
            on the Site, whether provided by the Company, its content provides, its clients, visitors to
            the Site or others, is solely at your own risk.
        </p>
        
        <h3>Your Obligations Regarding Privacy and Security </h3>
        
        <p>
            You represent and warrant that (a) you are knowledgeable of the privacy and security requirements
            of the Health Insurance Portability and Accountability Act (“HIPAA”)  and have completed training
            with respect to such requirements; (b) you will use strong password protection on any smart phones,
            tablets and other mobile devices (“Device”) you use in connection with accessing and using the Site
            and (c) you will immediately report to Company any loss or theft of a Device, or other actual or
            suspected breach of privacy or security. Company shall have the right to remotely "wipe" and delete
            data from any lost or stolen Device. 
        </p>
        <h3>Violation of the Terms of Use</h3>
        <p>
            You understand and agree that in the Company’s sole discretion, and without prior notice, the Company
            may terminate your access to the Site, or exercise any other remedy available and remove any unauthorized
            user information, if the Company believes that the information you provide has violated or is inconsistent
            with these Terms of Use, or violates the rights of the Company, or any third party, or violates the law.
            You agree that monetary damages may not provide a sufficient remedy to the Company for violations of these 
            Terms of Use and you consent to injunctive or other equitable relief for such violations.  The Company may
            release user information about you if required by law or subpoena.
        </p>
        <h3>Submissions; Copyright Policy</h3>
        <p>
            We may terminate the privileges of any user who uses the Site to unlawfully transmit copyrighted material
            without a license, express consent, valid defense or fair use exemption to do so. If you submit or upload
            any information or files to our site (“Submissions”), you agree not to (1) post or transmit anything that
            is defamatory, abusive, libelous, unlawful, obscene, threatening, harassing, fraudulent, pornographic, or
            harmful, or that could encourage criminal or unethical behavior, (2) submit or upload anything that violates
            the copyright or intellectual property rights of any person or entity, (3) post or transmit a virus or
            any other harmful component, or (4) contact other site users through unsolicited e-mail, telephone calls,
            mailings or any other method of communication. The Company shall have a perpetual, irrevocable license
            and right to use Submissions for its business purposes, including without limitation a world-wide right
            in all languages and in perpetuity to use and exploit all or any part of the Submission provided by you.
            You are responsible for making sure all Submissions that you originate or require are properly backed up
            so you have ready access thereto in the event of loss, corruption or interruption. You agree to defend,
            indemnify and hold the Company harmless from and against all third party claims, damages and expenses
            (including reasonable attorneys fees) against or incurred by the Company arising out of any Submissions 
            you post or allow to posted to the Site.
        </p>
        <h3>Representations By You</h3>
        <p>
            By visiting the Site, you represent, warrant and covenant that (a) you are at least 18 years old; (b) that
            you are a resident of the United States; (c) that all materials of any kind submitted by you through the
            Site or for inclusion on the Site will not plagiarize, violate or infringe upon the rights of any third
            party including trade secret, copyright, trademark, trade dress, privacy, patent, or other personal o
            r proprietary rights and (d) you will comply with all applicable laws, statutes, ordinances and regulations
            in connection with your use of the Site. 
        </p>
        <h3>Accounts; Passwords</h3>
        <p>
            During the registration process you will be asked to select a unique password for access to certain protect
            portions of the Site (“Protected Areas”).  You agree to access Protected Areas using only your user ID and
            password as provided to you by the Company, You agree to protect the confidentiality of your user ID and
            password, and not to share or disclose your user ID or password to any third party. You are responsible 
            for maintaining the confidentiality of the password and account, and are fully responsible for all
            activities that occur under the password.  By logging into the Site, you represent and warrant that: 
            (i) you are the customer who registered for the services; (ii) that you are using the services only for
            permitted purposes; (iii) you will immediately notify us of any unauthorized use of the password or account
            or any other breach of security; and (iv) you will ensure that you exit from your account at the end of
            each session.  Please notify support@mdcom.com of any potential unauthorized use(s) of your account, or 
            breach of security.  
        </p>
        <p>
            You also represent and warrant that: (i) you will not select or utilize a user name of another person 
            with intent to impersonate that person; (ii) you will not select or utilize a user name in which another
            person has rights, if you do not have that person's authorization to use such name; and (iii) you will not
            select or utilize a user name that the Company, in its sole discretion, deems offensive.  
        </p>
        <h3>Advertising</h3>
        <p>
            The Site may contain advertisements and/or sponsorships.  The advertisers and/or sponsors that provide
            these advertisements and sponsorships are solely responsible for insuring that the materials submitted 
            for inclusion on the Site are accurate and comply with all applicable laws.  We are not responsible for
            the acts or omissions of any advertiser or sponsor.  
        </p>
        <h3>No Commercial Use</h3>
        <p>
            This Site may not be used by you for any commercial purposes such as to conduct sales of merchandise or
            services of any kind. You must obtain the Company’s prior written consent to make commercial offers of
            any kind on the Site, whether by advertising, solicitations, links, or any other form of communication.
            The Company will investigate and take appropriate legal action against anyone who violates this provision,
            including without limitation, removing the offending communication from the Site and barring such violators
            from use of the Site.
        </p>

        <h3>Links and Search Results</h3>
        <p>
            The Site contains links to sites operated by third parties throughout the Internet. The Company has no control
            over these sites or the content within them.  The Company does not guarantee, represent or warrant that the
            content contained in any third party sites is accurate, legal and/or inoffensive.  The Company does not endorse
            the content of any third party site, nor does it make any representation or warranty about these sites, including
            that they will not contain viruses or otherwise impact your computer. By using the Site to search for or link to
            another site, you agree and understand that you may not make any claim against the Company for any damages or losses,
            whatsoever, resulting from your use of the Site to obtain search results or to link to another site. If you have a
            problem with a link from the Site, you may notify us at support@mdcom.com. 
        </p>
        <h3>Intellectual Property</h3>
        <p>
            You acknowledge that all content and materials available on this Site are protected by US and international
            copyrights, trademarks, service marks, patents, patent registration rights, trade secrets, know-how or other
            proprietary rights and laws and are owned by the Company or our licensors. You may only use the Site or its
            contents as expressly permitted in this Terms of Use and for no other purpose. The Company, our licensors or
            associates retain exclusive ownership of all data, material and other information regarding your use of the
            Site. Except as we may expressly authorize, you agree not to sell, license, rent, modify, distribute, copy,
            reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from
            the content or materials on the Site. Systematic retrieval of data or other content from the Site to create or
            compile, directly or indirectly, a collection, compilation, database or directory without our written permission
            is prohibited. Unless otherwise indicated, all logos, names, package designs and marks on the Site are trademarks
            or service marks or used under license by the Company. The use or misuse of any of these materials is strictly prohibited.
        </p>
        <h3>DMCA Policy</h3>
        <p>
            If you are notifying the Company of alleged copyright infringement, please be sure to provide the following information
            in the form required by 17 U.S.C. Section 512:
            <ol>
                <li>
                    A description of the copyrighted work that you allege is being infringed, or, if multiple copyrighted covered
                    by a single notification, a representative list of such works;
                </li>
                <li>
                    A description of the allegedly infringing material and information sufficient to permit us to locate the material; 
                </li>
                <li>
                    Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and/or an electronic mail address;
                </li>
                <li>
                    A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized
                    by the copyright owner, or its agent, or the law; and 
                </li>
                <li>
                    A statement by you that the information in the notification is accurate and that you have the authority to enforce the copyrights that are claimed to be infringed
                </li>
            </ol>
        </p>
        <h3>Designated Agent for Notification of Claimed Copyright Infringement</h3>
        <p>
            NAME:      Dr. Michael Eiffert<br>
            ADDRESS:  555 Bryant Street, Ste #715, Palo Alto, CA 94301<br>
            EMAIL:    meiffert@mdcom.com<br>
            PHONE:     1-855-244-2327<br>
            FAX:          1-650-618-1461
        </p>
        <h3>DISCLAIMER OF WARRANTIES</h3>
        <p>
            YOU EXPRESSLY AGREE THAT ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED
            IN OR AVAILABLE THROUGH THE SITE (THE "WEBSITE CONTENT") ARE PROVIDED "AS IS" AND "AS AVAILABLE"
            FOR YOUR USE. THE WEBSITE CONTENT IS PROVIDED WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR 
            IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, NON-INFRINGEMENT OR IMPLIED WARRANTIES
            OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR OTHERWISE, OTHER THAN THOSE WARRANTIES
            WHICH ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER APPLICABLE LAW. NEITHER THE 
            COMPANY, NOR OUR SUBSIDIARIES OR LICENSORS, MAKE ANY WARRANTY THAT THE WEBSITE CONTENT OF THE SITE
            IS ACCURATE, RELIABLE OR CORRECT; THAT THE SITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION;
            THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; THAT THE WEBSITE CONTENT IS FREE OF VIRUSES OR OTHER 
            HARMFUL COMPONENTS; OR THAT YOU WILL ACHIEVE SUCCESSFUL RESULTS FROM FOLLOWING ANY INSTRUCTIONS,
            DIRECTIONS OR RECOMMENDATIONS ON THE SITE.
        </p>
        <h3>LIMITATION OF LIABILITY</h3>
        <p>
            UNDER NO CIRCUMSTANCES SHALL THE COMPANY, OUR SUBSIDIARIES OR OUR LICENSORS BE LIABLE FOR ANY DIRECT,
            INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR 
            INABILITY TO USE, THE SITE OR FROM INFORMATION PROVIDED ON THE SITE. THIS LIMITATION APPLIES WHETHER 
            THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER BASIS, EVEN
            IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE
            EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES. OUR LIABILITY IN SUCH JURISDICTIONS SHALL
            BE LIMITED TO THE EXTENT PERMITTED BY LAW.
        </p>
        <h3>Indemnification</h3>
        <p>
            You agree to defend, indemnify, and hold the Company, our employees, contractors, officers and directors,
            and other affiliated companies, and their employees, contractors, officers and directors harmless from
            all liabilities, claims and expenses, including attorney's fees, that arise from your use or misuse of
            the Site or the content therein, or breach of these Terms of Use. We reserve the right, at our own expense,
            to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, 
            in which event you will cooperate with us in asserting any available defenses.
        </p>
        <h3>International Use</h3>
        <p>
            By choosing to access the Site from any location other than the United States, you accept full
            responsibility for compliance with all local laws that are applicable. The Company makes no 
            representation that materials on the Site are appropriate or available for use in locations outside
            the United States, and accessing them from territories where their contents are illegal is prohibited.
            You may not use, export or re-export any materials from this Site in violation of any applicable laws
            or regulations, including, but not limited to, any United States export laws and regulations.
        </p>
        <h3>Choice of Law</h3>
        <p>
            This Agreement shall, for all domestic and international purposes, be governed, interpreted, construed
            and enforced solely and exclusively in accordance with the laws of the State of California, U.S.A.,
            without regard to conflicts of law provisions. You expressly agree that the exclusive jurisdiction 
            for any claim or action arising out of or relating to these Terms of Use or your use of the Site shall
            be filed only in the state or federal courts located in the State of California, and you further agree
            and submit to the exercise of personal jurisdiction of such courts for the purpose of litigating any
            such claim or action.
        </p>

        <h3>Integration and Severability</h3>
        <p>
            This Terms of Use constitutes the entire agreement between The Company and you with respect to the Site
            and supersedes all prior or contemporaneous communications and proposals between us with respect to the
            Site. If any provision of this Terms of Use agreement is determined to be invalid or unenforceable, all
            other provisions shall remain in full force and effect.
        </p>
        <h3>Headings</h3>
        <p>
            Section titles in the Term of Use are for convenience and do not define, limit, or extend any provision of the Terms of Use.
        </p>
            
        {% if show_accept %}
        <form action="." method="POST" id='buttonForm'>
            <input type="hidden" name="accept" value="True" id="id_accept" />
            <input type="submit" value="Agree" class='buttonR' />
            <input type="hidden" name="reject" value="True" id="id_reject" />
            <input type="submit" value="Reject" onclick='showCancelDialog();return false;' />
        </form>
        {% endif %}
        <div id='inviteDialog' class='hidden'>
        <div class='content'></div>
        <div class='line'></div>
        <div class='buttons'>
            <div class='button'></div>
            <div class='button'></div>
        </div>
    </div>
{% endblock %}
