{# extends "Invites/base.html" #}
{% extends "base_new.html" %}
{% load i18n %}

{% block title %}{% trans "New Invitation" %}{% endblock %}

{% block content %}
<div style="background-color:white;margin:20px 0;border:1px solid lightgray;padding:30px; text-align:left;" class="ui-corner-all">
<h1>{% trans "Resend Invitation" %}</h1>
<form action="." method="POST">
<div class='errorlist'>{{err}}</div>
<p style="margin-bottom:0px;">{{resend_form.msg.label}}: (Optional)</p>
<p style="margin-top:0px;">{{resend_form.msg}}</p>
<p>{% trans "Are you sure you want to resend the invitation to" %} {{invite.recipient}}?
<input type='button' value="{% trans 'No' %}" onclick="window.location='../..'" style="margin-left:10px;margin-right:10px;"/>|
<input type="submit" value="{% trans 'Yes' %}" style="margin-left:10px;"/></p>
</form>
</div>
{% endblock %}
